.varieties h3{
    margin-top: 40px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #01af41;

}
.okra img{
    margin-top: 40px;
}
.varieties h4{
    font-size: 36px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #01af41;
    text-align: center;

}
.okra p{
    margin-top: 40px;
}
.description h3{
    margin-top: 40px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    

}